button {
  background-color: #194ec2;
  color: rgb(10, 10, 10);
  padding: 4px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
section.soverom {
  
}
img
{
  height: 80%;
  width: 40%;
  float: right;
  margin-right:5%;
}
section.section1
{
  
}
header
{
 
}
body
{
  background-color: #91a9df;
}