#prosjektknapper
{
list-style-type:none; 
}

#knapp1
{
  background-color: #194ec2;
  color: rgb(10, 10, 10);
  /*  
  padding: 4px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  */
}
#knapp2
{
  background-color: #19c22d;
  color: rgb(10, 10, 10);
}
#knapp3
{
  background-color:brown;
  color: rgb(10, 10, 10);
}
#knapp4
{
  background-color:blueviolet;
  color: rgb(10, 10, 10);
}
/*  
button {
}
*/
#soverombox
{
  display: flex;
  justify-content:right;
  
  
}
#soverom
{
  height: 80%; 
  width: 40%;
  
}

#Meny
{
  display:flex;
  justify-content:center;
  gap:15px;
  list-style-type:none;
  margin:10px;
}
section.section1
{
  
}
header
{
 
}
body
{
  background-color: #91a9df;
}
footer
{
  display:flex;
  justify-content: center;
  background-color: #4644ca;
}
main
{
 background-color: rgb(192, 187, 225);
}